__pycache__/
*.pyc
.vscode/
.idea/
.DS_Store
.env
staticpoisson_traces/
burger_pics/
kdv_traces/
solidresults/kdv/funparmismatch/bestkdv_cubic/kdv_predict_model_dict.pkl
solidresults/kdv/funparmismatch/bestkdv_cubic/traces
solidresults/kdv/funparmismatch/run2/noisy_kdv_predict_model_dict.pkl